.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../assets/images/backgroundLogin.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .input{
      margin-top: 2rem;
      
    }
    .button{
      margin-top: 2rem;
    }
  }
  .label{
    margin-top: 1rem;
  }
  a{
    cursor: pointer;
    color: green;
  }

}
