<div class="main">
  <form *ngIf="!isCad" [formGroup]="loginForm" (ngSubmit)="login()">
    <p-card header="Login" [style]="{ width: '30vw', height: '100vh' }">
      <div class="form">
        <div class="p-inputgroup input">
          <span class="p-inputgroup-addon">
            <i class="pi pi-envelope"></i>
          </span>
          <input type="email" pInputText placeholder="Email" formControlName="email" />
        </div>
        <div class="p-inputgroup input">
          <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
          </span>
          <input type="password" pInputText placeholder="Senha" formControlName="password" />
        </div>
        <p-button
          class="button"
          [style]="{ width: '30vw', height: '50px', background: 'green' }"
          type="submit"
          label="Entrar"
        ></p-button>
        <i class="label">Não tem conta?<a (click)="changeCad()"> Cadastre-se</a></i>
      </div>
    </p-card>
  </form>
  <form *ngIf="isCad" [formGroup]="registerForm">
    <p-card header="Cadastre-se" [style]="{ width: '30vw', height: '100vh' }">
        <div class="form">
          <div class="p-inputgroup input">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Username" formControlName="userName" />
          </div>
          <div class="p-inputgroup input">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input type="password" pInputText placeholder="Senha" formControlName="password" />
          </div>
          <div class="p-inputgroup input">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input type="password" pInputText placeholder="Confirme a Senha" formControlName="confirmPassword" />
          </div>
          <div class="p-inputgroup input">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <input type="email" pInputText placeholder="email" formControlName="email" />
          </div>
          <div class="p-inputgroup input">
            <span class="p-inputgroup-addon">
              <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Nome completo" formControlName="fullName" />
          </div>
          <p-button
            class="button"
            [style]="{ width: '30vw', height: '50px', background: 'green' }"
            (click)="register()"
            label="Cadastrar"
          ></p-button>
          <i class="label">Já tem conta?<a (click)="changeCad()"> Logue</a></i>
        </div>
      </p-card>
  </form>
  <app-loading *ngIf="loading"></app-loading>
</div>
